__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv/

.env

chroma_db/
test_mcp.txt

documents/
``// filepath: c:\Bureau_pc\RAG_MCP_PROJECT\.gitignore
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv/

.env

chroma_db/
test_mcp.txt

documents/
tests/__pycache__/
